*{
    background-color: 
    font-size: 19px;

    box-sizing: border-box;
    padding:25px;
}


body {
    background-image:url("images/blueMarble\ .jpg");
    background-repeat: repeat;
}

h1 {
    color: rgb(0, 102, 153);
    font-size: 40px;
}

h2{
     color: rgb(0, 102, 153);
}



.firstText{
    colorL ; 
    background-color: papayawhip;
}

img {
    width:50;
}