body {
  background-color: rgb(223,225,222);
  text-align: center;
  font-family: Dosis;
  line-height: 2;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

button {
  /* background-image:; */
  border-radius: 100px;
  padding: 20px 40px;
  font-size: 14px;
  font-family: Dosis;
}

button:hover {
  background-color: pink;
}

a {
  text-decoration: none;
}

a:hover {
  color: white;
}

h1 {
  color: black;
  font-size: 50px;
  font: "Century Gothic";
}

h2 {
  color: black;
  font-size: 31px;
}

.subheadingText {
  color: black;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 20px;
}

.section {
  text-align: center;
  margin: 15px;
  padding-top: 50px;
  padding-bottom: 10px;
}

.profilePic {
  border-radius: 50%;
  height: 300px;
  width: 280px;
  box-shadow: 0px 0px 8px 8px rgb(252,237,233);
}

.sectionProfileDetailsContainer {
  display: flex;
  align-items: center;
  margin-left: 30px;
  margin-right: 30px;
}

.header {
  position: sticky;
  top: 0;
  /* background-color: darkgrey; */
  background-image:url(images/pinkGreyMarble.jpg);
  padding-bottom: 20px;
}

.assessmentQuestionSection {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.assessmentQuestionsTitle {
  padding-left: 50px;
  padding-right: 50px;
}

.assessmentQuestionsContainer {
  height: 200px;
  overflow-y: scroll;
  padding: 40px;
  background-color:rgb(253,239,231);
  border: 2px double grey;
}

.buttonsContainer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#highFiveCount {
  position: fixed;
  top: 0;
  right: 0;
  background-color:rgb(252,237,233);
  color:black;
}

.timeline {
  font-size: 30px;
}