
body {
  background-color: rgb(208,208,208); 
  text-align: center; 
  /* font: 80% georgia, sans-serif; */
  line-height: 2;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	}

button {
  border-radius: 100px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 20px 40px;
  font-size: 15px;
  text-decoration: none;
}

h1 {
  color: black;
  font-size: 40px;
  font:"Century Gothic";
}

h2 {
  color: black;
}

.subheadingText {
  color: black;
}

.section {
  /* background-color: rgb(250, 222, 214); */
  margin: 150px;
  padding-top: 50px;
  padding-bottom: 50px;
  border: 5px black;
  /* box-shadow: 500px 1000px; */
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  top: 15px;
  border-radius: 50%;
  z-index: 1;